header .navbar .navbar-item .nav a {
  text-decoration: none;
  color: white;
}

header .navbar .navbar-brand a {
  text-decoration: none;
  color: white;
}

#hero .carousel-inner .carousel-item img {
  height: 630px;
  margin: 0;
  padding: 0;
}

/* Feature start */
.feature .main-feature-box {
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.2);
  position: relative;
  z-index: 1;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 20px;
}

.feature .main-feature-box .icon {
  margin-bottom: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  color: white;
  transition: 0.5s;
  font-size: 25px;
  line-height: 60px;
}

.feature .main-feature-box h3 {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 7px;
  position: relative;
}

.feature .main-feature-box p {
  font-size: 13px;
  padding-bottom: 7px;
  text-transform: capitalize;
  position: relative;
}
/* Feature end */

/* ask start */
.ask {
  background-image: url("../image/2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
}

.ask .background h3 {
  font-style: bold;
}

.ask .background h1 {
  font-size: 50px;
}

.ask .background p {
  font-size: 25px;
}
/* ask end */

/* team start */
#pengurus {
  background-color: rgb(3, 3, 107);
  position: relative;
  padding: 20px 0;
}

#pengurus .title h2 {
  color: white;
}

#pengurus .section-item-slider {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

#pengurus .section-item-slider {
  height: 276px;
  padding: 20px;
}

#pengurus .section-item-conten h3 {
  font-size: 18px;
  font-weight: 500;
  color: yellow;
}

#pengurus .section-item-conten p {
  color: var(--secondary);
  line-height: 26px;
  font-size: 14px;
}

#pengurus .foto {
  height: 100%;
  object-fit: cover;
}

.section-body {
  position: relative;
}

#slider-pengurus .owl-next,
#slider-pengurus .owl-prev {
  position: absolute;
  background-color: var(--secondary);
  top: 40%;
  right: -5%;
  z-index: 1;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 15px #ddd;
  transition: background-color 0.5s;
}

#slider-pengurus .owl-prev {
  left: -5%;
}

#slider-pengurus .owl-next:hover,
#slider-pengurus .owl-prev:hover {
  background-color: orange;
  cursor: pointer;
  color: var(--secondary);
}

#pengurus .section-item-slider img {
  transition: 0.8s;
  height: 100%;
  z-index: -333;
}

#pengurus .section-item-slider:hover img {
  transform: scale(1.2);
}

#pengurus .section-item-slider {
  position: relative;
  overflow: hidden;
}

#pengurus .section-item-slider .jabatan {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: 0.8s;
  z-index: 3;
}

#pengurus .section-item-slider:hover .jabatan {
  height: 100%;
}

#pengurus .section-item-slider .jabatan .jabatan-text {
  transition: 0.8s;
  background-color: rgba(0, 0, 0, 0.8);
  /* width: 84%;
margin-left: 8%; */
  padding-top: 100%;
  color: var(--secondary);
}

#pengurus .section-item-slider .jabatan .jabatan-text {
  background-color: #ddd;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

#pengurus .section-item-slider:hover .jabatan .jabatan-text {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pengurus .section-item-slider .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.6s;
  z-index: 5;
}

#pengurus .section-item-slider:hover .icon {
  opacity: 1;
}
/* team end */

/* Footer start */
footer {
  background-color: #333333;
  padding: 10px 0;
  color: white;
  padding-top: 20px;
  margin-top: 30px;
}

footer .brand {
  display: flex;
}

footer .brand img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-left: 20px;
}

footer .brand h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  text-transform: uppercase;
}

footer .about {
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 15px;
  margin-left: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

footer .sosmed {
  list-style: none;
  margin: 20px;
  padding: 0;
}

footer .sosmed li {
  display: inline-block;
  margin-right: 15px;
}

footer .sosmed li a {
  color: var(--secondary);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  font-size: 20px;
  line-height: 50px;
}

footer .sosmed li a:hover {
  color: #eeececc7;
}

.footer-col h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-col .address {
  font-size: 14px;
  line-height: 25px;
}

.footer-col .contact {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.footer-col .contact li {
  margin: 10px 0;
}

.footer-col .contact li i {
  margin-right: 20px;
}

.footer-col .footer-nav {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-col .footer-nav li {
  margin: 10px 0;
}

.footer-col .footer-nav a {
  color: var(--secondary);
  font-size: 15px;
  font-weight: 28px;
  transition: all 0.9s;
}

.footer-col .footer-nav a:hover {
  border-bottom: 1px dashed var(--secondary);
}

.footer-copyright .container {
  border-top: 1px solid #f2f2f2;
  padding: 10px 0;
  /* margin-right: 0;
  margin-left: 0; */
}

.footer-copyright {
  margin-top: 20px;
}

.footer-copyright h6 {
  margin-top: 15px;
  font-size: 16px;
  color: #f0eded;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright a {
  color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright h6 a:hover {
  border-bottom: 1px dashed #cecece;
  text-decoration: none;
}
/* Footer end */

#services {
  padding: 10px 0;
  background-color: white;
}

/* testimony start*/
/* .carousel-inner {
  padding: 0 10%;
} */
/* testimony end*/
